<!-- hero section-->
<section class="hero">
    <div class="hero-container container">
        <div class="hero-wrapper">
            <h1 class="hero-title">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="hero-text">With just a few clicks, you can have your favorite meals delivered straight to your
                doorstep, no matter where you are.
                Order now and enjoy a hassle-free and delicious meal from the comfort of your own home.</p>
            <button class="hero-btn btn">Order Now</button>
        </div>
        <picture>
            <!-- desctop 1248 -->
            <source media="(min-width: 1280px)" srcset="
               ./img/2-hero/1-desc@1x.png 1x, 
               ./img/2-hero/1-desc@2x.png 2x">

            <!-- tablet 768 -->
            <source media="(min-width: 768px)" srcset="
             ./img/2-hero/1-tab@1x.png 1x, 
             ./img/2-hero/1-tab@2x.png 2x">
            <img class="hero-img" src="./img/2-hero/1-desc@1x.png" alt="food" width="528" height="528" loading="lazy">
        </picture>
        <picture class="visually-hidden">
            <!-- desctop 1280 -->
            <source media="(min-width: 1280px)" srcset="
                       ./img/2-hero/2-desc@1x.png 1x, 
                       ./img/2-hero/2-desc@2x.png 2x">

            <!-- tablet 768 -->
            <source media="(min-width: 768px)" srcset="
                     ./img/2-hero/2-tab@1x.png 1x, 
                     ./img/2-hero/2-tab@2x.png 2x">
            <img class="" src="./img/2-hero/2-desc@1x.png" alt="food" width="528" height="528" loading="lazy">

        </picture>
        <picture class="visually-hidden">
            <!-- desctop 1280 -->
            <source media="(min-width: 1280px)" srcset="
                       ./img/2-hero/3-desc@1x.png 1x, 
                       ./img/2-hero/3-desc@2x.png 2x">

            <!-- tablet 768 -->
            <source media="(min-width: 768px)" srcset="
                     ./img/2-hero/3-tab@1x.png 1x, 
                     ./img/2-hero/3-tab@2x.png 2x">
            <img class="" src="./img/2-hero/3-desc@1x.png" alt="food" width="528" height="528" loading="lazy">
        </picture>
    </div>
</section>