<!-- favorites section -->
<section class="favorites-section">
    <div class="favorites-container container">
        <h2 class="favorites-title">Some of Our Favorites</h2>
        <p class="favorites-text">Looking for something delicious?</p>
        <ul class="favorites-list">
            <li class="favorites-item">
                <picture>
                    <!-- desctop 1248 -->
                    <source media="(min-width: 1280)" srcset="
                     ./img/4-favorites/1-desc@1x.png 1x, 
                     ./img/4-favorites/1-desc@2x.png 2x">
                    <!-- tablet 768 -->
                    <source media="(min-width: 768)" srcset="
                      ./img/4-favorites/1-desc@1x.png 1x,
                      ./img/4-favorites/1-desc@2x.png 2x">
                    <!-- mobile 320 -->
                    <source media="(min-width: 320)" srcset="
                       ./img/4-favorites/1-desc@1x.png 1x,
                       ./img/4-favorites/1-desc@2x.png 2x">
                    <img class="favorites-item-img" src="./img/4-favorites/1-desc@1x.png" alt="gamburger" width="315"
                        height="315" loading="lazy">
                </picture>
            </li>
            <li class="favorites-item">
                <picture>
                    <!-- desctop 1280 -->
                    <source media="(min-width: 1280)" srcset="
                        ./img/4-favorites/2-desc@1x.png 1x, 
                        ./img/4-favorites/2-desc@2x.png 2x">
                    <!-- tablet 768 -->
                    <source media="(min-width: 768)" srcset="
                        ./img/4-favorites/2-desc@1x.png 1x,
                        ./img/4-favorites/2-desc@2x.png 2x">
                    <!-- mobile 320 -->
                    <source media="(min-width: 320)" srcset="
                        ./img/4-favorites/2-desc@1x.png 1x,
                        ./img/4-favorites/2-desc@2x.png 2x">
                    <img class="favorites-item-img" src="./img/4-favorites/2-desc@1x.png" alt="pasta" width="315"
                        height="315" loading="lazy">
                </picture>
            </li>
            <li class="favorites-item">
                <picture>
                    <!-- desctop 1280 -->
                    <source media="(min-width: 1280)" srcset="
                        ./img/4-favorites/3-desc@1x.png 1x, 
                        ./img/4-favorites/3-desc@2x.png 2x">
                    <!-- tablet 768 -->
                    <source media="(min-width: 768)" srcset="
                        ./img/4-favorites/3-desc@1x.png 1x,
                        ./img/4-favorites/3-desc@2x.png 2x">
                    <!-- mobile 320 -->
                    <source media="(min-width: 320)" srcset="
                        ./img/4-favorites/3-desc@1x.png 1x,
                        ./img/4-favorites/3-desc@2x.png 2x">
                    <img class="favorites-item-img" src="./img/4-favorites/3-desc@1x.png" alt="" width="315"
                        height="315" loading="lazy">
                </picture>
            </li>
            <li class="favorites-item">
                <picture>
                    <!-- desctop 1280 -->
                    <source media="(min-width: 1280)" srcset="
                        ./img/4-favorites/4-desc@1x.png 1x, 
                        ./img/4-favorites/4-desc@2x.png 2x">
                    <!-- tablet 768 -->
                    <source media="(min-width: 768)" srcset="
                        ./img/4-favorites/4-desc@1x.png 1x,
                        ./img/4-favorites/4-desc@2x.png 2x">
                    <!-- mobile 320 -->
                    <source media="(min-width: 320)" srcset="
                        ./img/4-favorites/4-desc@1x.png 1x,
                        ./img/4-favorites/4-desc@2x.png 2x">
                    <img class="favorites-item-img" src="./img/4-favorites/4-desc@1x.png" alt="" width="315"
                        height="315" loading="lazy">
                </picture>
            </li>
            <li class="favorites-item">
                <picture>
                    <!-- desctop 1280 -->
                    <source media="(min-width: 1280)" srcset="
                        ./img/4-favorites/5-desc@1x.png 1x, 
                        ./img/4-favorites/5-desc@2x.png 2x">
                    <!-- tablet 768 -->
                    <source media="(min-width: 768)" srcset="
                        ./img/4-favorites/5-desc@1x.png 1x,
                        ./img/4-favorites/5-desc@2x.png 2x">
                    <!-- mobile 320 -->
                    <source media="(min-width: 320)" srcset="
                       ./img/4-favorites/5-desc@1x.png 1x,
                       ./img/4-favorites/5-desc@2x.png 2x">
                    <img class="favorites-item-img" src="./img/4-favorites/5-desc@1x.png" alt="" width="315"
                        height="315" loading="lazy">
                </picture>
            </li>
            <li class="favorites-item">
                <picture>
                    <!-- desctop 1280 -->
                    <source media="(min-width: 1280)" srcset="
                        6./img/4-favorites/6-desc@1x.png 1x, 
                         ./img/4-favorites/6-desc@2x.png 2x">
                    <!-- tablet 768 -->
                    <source media="(min-width: 768)" srcset="
                          ./img/4-favorites/6-desc@1x.png 1x,
                          ./img/4-favorites/6-desc@2x.png 2x">
                    <!-- mobile 320 -->
                    <source media="(min-width: 320)" srcset="
                           ./img/4-favorites/6-desc@1x.png 1x,
                           ./img/4-favorites/6-desc@2x.png 2x">
                    <img class="favorites-item-img" src="./img/4-favorites/6-desc@1x.png" alt="" width="315"
                        height="315" loading="lazy">
                </picture>
            </li>
        </ul>
    </div>
</section>