<!-- customers say section -->
<section class="customers-section">
    <div class="customers-container container">
        <h2 class="customers-title">What our Customers Say</h2>
        <p class="customers-text">
            Don't just take our word for it - see what our satisfied customers have to say
        </p>
        <ul class="customers-list">
            <li class="customers-item">
                <ul class="customers-list-stars">
                    <li class="customers-item-stars">
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="customers-item-text">
                    “The Best app I have used to order food in a while, so many options to choose from too, I would
                    recommend to a freind, No questions asked”
                </p>
                <div class="customers-users">
                    <picture>
                        <source srcset="
                        ./img/5-customers-say/1-@1x.png 1x,
                        ./img/5-customers-say/1-@2x.png 2x">
                        <img class="customer-users-img" src="./img/5-customers-say/1-@1x.png" alt="" width="48"
                            height="48" loading="lazy">
                    </picture>
                    <div class="customers-wrapper-users">
                        <h3 class="customer-users-subject">Sumith Shah</h3>
                        <p class="customer-users-desc">Some Dude</p>
                    </div>
                </div>
            </li>
            <li class="customers-item">
                <ul class="customers-list-stars">
                    <li class="customers-item-stars">
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon-star" width="17" height="17">
                            <use href="./img/sprite-2.svg#icon-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="customers-item-text">
                    “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant
                    experience ordering from this app”
                </p>
                <div class="customers-users">
                    <picture>
                        <source srcset="
                            ./img/5-customers-say/2-@1x.png 1x,
                            ./img/5-customers-say/2-@2x.png 2x">
                        <img class="customer-users-img" src="./img/5-customers-say/2-@1x.png" alt="" width="48"
                            height="48" loading="lazy">
                    </picture>
                    <div class="customers-wrapper-users">
                        <h3 class="customer-users-subject">Sumith Shah</h3>
                        <p class="customer-users-desc">Some Dude</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>