<!-- subcribe section -->
<section class="subcribe-section">
    <div class="subscribe-container container">
        <div class="subcribe-wrapper">
            <h2 class="subcribe-title">Subscribe To Get Special Offers</h2>
            <p class="subcribe-desc">
                Order now and receive 10% off your first meal with Enjoy Your Favorite Food From Anywhere.
            </p>
            <form class="subscribe-form" name="subscribe">
                <label class="form-subscribe-label">
                    <input class="form-subscribe-input" type="email" name="email" placeholder="Enter your email">
                </label>
                <button class="subscribe-btn" type="submit">
                    Subscribe
                </button>
            </form>
        </div>
        <picture>
            <!-- desctop 1280 -->
            <source media="(min-width:1280)" srcset="
                ./img/6-subscribe/banan-desc@1x.png 1x,
                ./img/6-subscribe/banan-desc@2x.png 2x">
            <!-- tablet 768 -->
            <source media="(min-width: 768)" srcset="
                ./img/6-subscribe/banan-tab@1x.png 1x,
                ./img/6-subscribe/banan-tab@2x.png 2x">
            <!-- mobile 320 -->
            <source media="(min-width: 320)" srcset="
             ./img/6-subscribe/banan-mob@1x.png 1x,
             ./img/6-subscribe/banan-mob@2x.png 2x">

            <img class="subcribe-img" src="./img/6-subscribe/banan-desc@1x.png" alt="" width="608" height="266"
                loading="lazy">
        </picture>
    </div>
</section>