<!-- footer -->
<footer class="footer">
    <div class="footer-container container">
        <div class="footer-top">
            <a class="header-nav-logo" href="./index.html">
                <svg class="logo" width="66" height="52">
                    <use href="./img/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="">
                        Home
                    </a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="">
                        About
                    </a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="">
                        Service
                    </a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="">
                        Menu
                    </a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="">
                        Contact
                    </a>
                </li>
            </ul>
            <div class="footer-subscribe">
                <form class="footer-form-subscribe" name="subscribe">
                    <label class="form-subscribe-label">
                        <input class="form-subscribe-input" type="email" name="email" placeholder="Enter your email">
                    </label>
                    <button class="subscribe-btn" type="submit">
                        Subscribe
                    </button>
                </form>
                <p>By subscribing you agree to with our
                    <span>Privacy Policy</span>
                </p>
            </div>
        </div>
        <div class="footer-buttom">
            <ul class="footer-buttom-list">
                <li class="footer-buttom-item">
                    <a class="footer-buttom-link" href="" target="" rel="">
                        Privacy Policy
                    </a>
                </li>
                <li class="footer-buttom-item">
                    <a class="footer-buttom-link" href="" target="" rel="">
                        Terms of Service
                    </a>
                </li>
                <li class="footer-buttom-item">
                    <a class="footer-buttom-link" href="" target="" rel="">
                        Cookies Settings
                    </a>
                </li>
            </ul>
            <p class="footer-buttom-desc">
                2022 FoodSta. All right reserved.
            </p>
        </div>


    </div>

</footer>