.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.menu-btn-icon {
  fill: #7eb101;
}

.header-nav-list {
  display: flex;
  gap: 28px;
}

.header-nav-link {
  display: block;
  padding: 28px 0;
  line-height: normal;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #bbf330;
}
