:root {
  font-family: Roboto, sans-serif;
  background-color: #fefefe;
  color: var(--Black, #2c2c2c);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* min-width: 100vw; */
  /* min-height: 100vh; */
}

/* main {
  flex-grow: 1;
} */
/* main:has(.back-link) {
  text-align: center;
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* .header-btn, .hero-btn */
.btn {
  display: inline-flex;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #bbf330;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}
.btn:hover,
.btn:focus {
  background: #ffe450;
}
.btn:active {
  border: 2px solid #7eb101;
}
